.correoform {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 0 100px;
  margin: auto;
}

#map-containerCC,
#contact-formCC {
  width: 100%;
}

#map-containerCC iframe {
  width: 100%;
  height: 500px;
  border: 0;
}

#contact-formCC {
  max-width: 400px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

#contact-formCC label {
  margin-bottom: 8px;
  color: black;
}

.correoform .btn-primary {
  background-color: #d8006c;
  border-color: #d8006c;
  padding: 10px;
  margin: 0 auto;
  width: 200px !important;
  font-weight: bold;
}

.correoform .btn-primary:hover {
  background-color: #3d0c11;
  border-color: #3d0c11;
}

.correoform .form-control,
.correoform .input-group-text {
  border: 1px solid #d8006c;
}

.correoform .input-group-text {
  background-color: #f8b3c1;
}

.correoform .input-group-text i {
  color: #d8006c;
}
