/* font-family: 'Merienda', cursive;
font-family: 'Playball', cursive; */

.formlogin{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 20px;
    background-color: hsl(354, 67%, 14%);
    border-radius: 10px;
}
.form{
    background-color: #F9D9C9;
    padding: 40px;
    padding-right: 55px;
    border-radius: 10px;
}

.formlogin .info{
    padding: 10px;
    margin: 15px 0;
    width: 100%;
}

.formlogin .title{
    text-align: center;
    font-size: 40px;
    margin: 15px 0 30px 0;
    color: hsl(354, 67%, 14%);
    font-weight: bold;
    font-family: 'Playball', cursive;
}

.formlogin .image{
    text-align: center;
}

.formlogin .captcha{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}
.formlogin .containerimage{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.formlogin .refresh{
    text-align: center;
    font-size: 15px;
}
.formlogin input{
    border-radius: 10px;
    border: none;
}
.formlogin .cookies{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.formlogin .check{
    width: 20px;
}
.formlogin .containerboton{
    display: flex;
    justify-content: center;
}

.formlogin .boton{
    padding: 10px;
    margin: 10px 0 0px 0;
    background-color: white;
    width: 25%;
}
.formlogin .boton:hover{
    background-color: #F78CA2;
}
.formlogin .check1{
    font-size: 15px;
}
.formlogin ::placeholder, .refresh, .check1, input, .rescate{
    font-family: 'Merienda', cursive;
    font-size: 14px;

}
.formlogin .preguntas .rescate{
    font-size: 15px;
}

.formlogin .primera{
    margin-top: 40px;
}
.formlogin .preguntas{
    display: none;
}
