body{
    margin: 0;
    padding: 0;
}
.background{
    padding: 50px;
    margin: 0;
    background-image: linear-gradient(rgba(68, 68, 68, 0.9), rgba(68, 68, 68, 0.9)), url("../imagenes/fondologin.jpg");
}
.formlogin {
  margin: 0 370px;
  border: 1px solid #d8006c;
  padding: 30px 60px;
  border-radius: 10px;
}

.formlogin .form-control,
.formlogin .input-group-text {
  border: 1px solid #d8006c;
}

.formlogin .input-group-text {
  background-color: #f8b3c1;
}
.formlogin .input-group-text i {
  color: #d8006c;
}
.formlogin h2 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.formlogin .image {
  text-align: center;
}
.formlogin #clickhere {
  color: #d8006c;
  font-weight: bold;
}
.formlogin .containerimage {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.formlogin .refresh {
  text-align: center;
}

.formlogin .cookies {
  display: flex;
  justify-content: center;
}

.formlogin .check {
  margin-right: 13px;
  transform: scale(1.5);
}

.formlogin .containerboton {
  display: flex;
  justify-content: center;
}

.formlogin .boton {
  background-color: #d8006c;
  border-color: #d8006c;
  padding: 10px;
  margin: 0 auto;
  width: 200px !important;
  font-weight: bold;
}
.formlogin .boton:hover {
  background-color: #3d0c11;
  border-color: #3d0c11;
}

.formlogin .check1 {
  font-size: 15px;
  margin-top: 15px;
}

.formlogin::placeholder,
.refresh,
.check1,
input,
.rescate {
  font-family: "Merienda", cursive;
  font-size: 14px;
}
.labelogout{
  font-size: 17px;
  text-align: center;
  margin-top: -20px;
}
.formlogin .preguntas .rescate {
  font-size: 15px;
}
.formlogin .primera{
  margin-top: 40px;
}

#repetidacontra, .formlogin .preguntas, .formlogin .contratext, .message{
  display: none;
}
.formlogin p a{
    text-align: center;
    font-family: 'Merienda', cursive;
}
.formlogin .to_registro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.inicioSesionCC, .registroCC{
  background-color: #ffffff;
}
.mandarARegistro{
  text-align:center;
}

@media only screen and (max-width: 1100px) {
    .formlogin, .div_Registro{
        width: 600px;
    }
    .formlogin .colorback1{
        padding: 25px 100px;
        background-color: #FFFFFF;
    }
}
@media only screen and (max-width: 700px) {
    .formlogin, .div_Registro{
        width: 400px;
    }
    .formlogin .colorback1{
        padding: 15px 50px;
        background-color: #FFFFFF;
    }
}

.div_Registro small{
    color: #3D0C11;
    color: #D8006C;
}

.div_Registro{
    margin: 0 auto;
    /* width: 50%; */
    width: 1000px;

    margin-top: 50px;

    background-color: #F78CA2;
    /* padding: 40px; */
    border-radius: 8px;
    font-family: 'Merienda', cursive;
}
/* REGISTRO */

.div_Registro small {
  color: #d8006c;
}

.div_Registro {
  margin: 0 auto;
  width: 60%;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #d8006c;
  font-family: "Merienda", cursive;
}

.div_Registro label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
}

.div_Registro .form-control,
.div_Registro .input-group-text {
  border: 1px solid #d8006c;
}

.div_Registro h2 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.div_Registro .input-group-text {
  background-color: #f8b3c1;
}

.div_Registro .input-group-text i {
  color: #d8006c;
}

.div_Registro .button {
  display: flex;
  justify-content: center;
}

.div_Registro .button button.btn.btn-primary {
  background-color: #d8006c !important;
  border-color: #d8006c !important;
  padding: 10px;
  margin: 0 auto;
  width: 200px !important;
  font-weight: bold;
}

.div_Registro .button button.btn.btn-primary:hover {
  background-color: #3d0c11 !important;
  border-color: #3d0c11 !important;
}

.div_Registro #formulario_error {
  display: none;
  margin-top: 0;
}
.div_Registro .colorback_reg_1{
    background-color: #F78CA2;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    width: 100%;
}
.div_Registro .colorback_reg_2{
    background-color: #FFFFFF;
    margin: 0;
    padding: 50px 250px;
}

::selection {
    background-color: #F78CA2;
    color: #fff;
}